html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: 1.11rem;
  text-align: center;
}

.btn {
  background-color: #000;
  color: #fff;
  font-size: 1.125rem;
  font-weight: bold;
  border-radius: 8px;
  border-width: 3px;
  padding: .71em;
  text-decoration: none;
}

.btn-subtle {
  background-color: #ccc;
  color: #fff;
}

.btn-ghost {
  border-color: #000;
  border-style: solid;
  background-color: #fff;
  color: #000;
}

.btn-warning {
  background-color: #f33;
  color: #fff;
}
